.Baiye {

}
.Baiye ul{
    width: 1050px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
}
.Baiye li{
    padding-top: 10px;
    float: left;
    width: 130px;
    height: 50px;
    list-style: none;
    transition: all 2s;
    position: relative;
}
.Baiye li::after{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1100px;
    height: 50px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    color: rgb(243, 230, 230);
    background-color: rgba(48, 46, 46,.4);
}
.Baiye img{
    height: 100%;
    width: 450px;

}
.Baiye ul:hover li{
    width: 110px;
}
.Baiye ul li:hover{
    width: 250px;
}
