
.g-container{
    animation: hueRotate 15s infinite linear;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes hueRotate {
    0% {
        filter: hue-rotate(0);
    }
    50% {
        filter: hue-rotate(150deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}
